{% load static %}
<!-- Prism CSS -->
<link href="{% static "prism/css/prism.css" %}" rel="stylesheet" type="text/css">


<body>
{% for tut in tutorials %}
    <p>{{tut.tutorial_title}}</p>
    <p>{{tut.tutorial_content|safe}}</p>
    <p>{{tut.tutorial_published}}</p>
{% endfor %}




<!-- Prism JS -->
<script src="{% static "prism/js/prism.js" %}"></script>


<script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
<script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
<script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/4/tinymce.min.js" referrerpolicy="origin"></script>

<!-- Load our React component. -->
<script src="{% static  "react/CounterExample.js" %}"></script>
</body>
